//TIPOGRAFIAS
@font-face {
  font-family: "Cardo";
  src: url("../fonts/Cardo-Bold.ttf");
  font-display: fallback;
}
@font-face {
  font-family: "Cardo-Light";
  src: url("../fonts/Cardo-Regular.ttf");
  font-display: fallback;
}
$fuente-principal: "Cardo", sans-serif;
$fuente-light: "Cardo-Light", sans-serif;

//COLORES
$color-blanco: #fff;
$color-negro: #000;

//MIXINS
@mixin flexbox($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

//GENERALES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  font-family: $fuente-principal;
  font-weight: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-blanco;
  font-weight: inherit;
}
a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.oculto {
  display: none;
}
img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.textos-comunes {
  line-height: 1.8;
  margin-bottom: 20px;
}
.contenedor-gral {
  padding: 100px 20px 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}
.texto-1,
.texto-2 {
  transition: all 0.2s ease-in-out;
  color: white;
}

.current {
  width: 100%;
  height: 3px;
  position: absolute;
  background: linear-gradient(
    90deg,
    #ffd33d,
    #ea4aaa 17%,
    #b34bff 34%,
    #01feff 51%,
    #ffd33d 68%,
    #ea4aaa 85%,
    #b34bff
  );
  bottom: -5px;
  left: 0px;
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
}

.menu-desk {
  height: 30px;
  overflow: hidden;
  .lista-nav {
    width: 280px;
    height: 20px;
    @include flexbox(row, center, space-between);
  }
  .lista-desk {
    height: 30px;
  }
  .lista-trabajos-nav {
    width: 280px;
    @include flexbox(row, center, flex-start);
    flex-wrap: wrap;
    .link-nav {
      width: auto;
      margin: 5px 25px 5px 0px;
      text-transform: capitalize;
      font-size: 0.9rem;
      position: relative;
      text-align: center;
    }
  }
}

.copy:hover {
  .texto-1 {
    margin-top: -20px;
  }
}
.fuerte {
  text-decoration: underline;
  font-style: italic;
}

//BOTONES
.btn-form {
  min-height: 50px;
  padding: 10px 40px;
  font-family: $fuente-principal;
  background: none;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 3px;
  text-transform: capitalize;
  margin-top: 70px;
  font-size: 0.9rem;
  cursor: pointer;
}

//INICIO CONTENIDO PRINCIPAL
//HEADER PAGINA PRINCIPAL
.media {
  img {
    filter: brightness(0.8);
  }
}
.header-principal {
  width: 100%;
  height: 100%;
  .flotante-menu {
    position: absolute;
    z-index: 99;
    color: white;
    right: 20px;
    top: 20px;
    width: 22px;
    @include flexbox(column, center, center);
    .linea-menu {
      width: 100%;
      height: 2px;
      background: white;
      margin: 3px 0px;
    }
  }
}
.swiper-slide {
  @include flexbox(row, center, center);
  overflow: hidden;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titulo {
  font-size: clamp(2rem, 5vw, 5.1rem);
  text-transform: capitalize;
  position: relative;
}

.titulo-principal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
}
.año {
  font-size: clamp(0.8rem, 2vw, 1rem);
  position: absolute;
  right: -30px;
  top: -10px;
}
.flotante-logo {
  position: absolute;
  z-index: 99;
  color: white;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 15px;
}
.flotante-redes {
  position: relative;
  z-index: 99;
  color: white;
  bottom: 40px;
  height: 20px;
  width: 100px;
  margin: 0 auto;
  @include flexbox(row, center, space-between);
  .fa {
    width: 20px;
    height: 20px;
    @include flexbox(row, center, center);
    font-size: 0.9rem;
  }
}
.flotante-copy {
  width: 150px;
  height: 20px;
  position: absolute;
  bottom: 60px;
  left: 100px;
  z-index: 99;
  overflow: hidden;
  .texto-copy {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
    height: 20px;
    width: 100%;
  }
}

.cover-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 9099;
  background: black;
}
//ANIMACIONES INTERSECTION OBSERVER
.animacion-uno {
  margin-top: 200px;
  position: relative;
  transition: all 1.5s ease-in-out;
}
.final-uno {
  margin-top: 0px;
}
.animacion-dos {
  transition: all 1.8s ease-in-out;
}
.final-dos {
  height: 0px;
}

.swiper-button-next {
  left: 80% !important;
  top: 60% !important;
}
.swiper-button-prev {
  left: 20% !important;
  top: 60% !important;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

//ANIMATION FLECHAS HEADER PRINCIPAL
@keyframes bounce {
  0% {
    right: 5px;
  }
  50% {
    right: 0px;
  }
  100% {
    right: 5px;
  }
}
@keyframes bounce2 {
  0% {
    left: 5px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 5px;
  }
}
//LA UNICA MANERA DE REEMPLAZAR LOS ESTILOS DE LOS BOTONES ES CON !IMPORTANT
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.2rem !important;
  color: white !important;
}

.swiper-button-next::after {
  animation: bounce 1s infinite;
  position: absolute;
}
.swiper-button-prev:after {
  animation: bounce2 1s infinite;
  position: absolute;
}

.menu-movil {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999999;
  background: white;
  display: none;
  opacity: 0;
  .barra-superior {
    width: 100%;
    padding: 20px 20px 0px;
    @include flexbox(row, center, space-between);
  }
  img {
    width: 15px;
    height: 40px;
  }
  .flotante-menu-movil {
    height: 24px;
    width: 22px;
    @include flexbox(column, flex-start, flex-start);
    position: relative;
    .linea-menu {
      width: 90%;
      height: 2px;
      background: black;
      margin: 3px 0px;
      position: absolute;
      transform: rotate(45deg);
    }
    .linea-menu:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
  .contenido-nav-movil {
    height: calc(100% - 74px);
  }
  .lista-nav-movil {
    width: 100%;
    height: 100%;
    @include flexbox(column, center, center);
  }
  .link-nav {
    width: 100%;
    padding: 15px;
    @include flexbox(row, center, center);
    text-transform: capitalize;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 800;
  }
  .link-nav:nth-child(1) {
    @include flexbox(column, center, flex-start);
  }
  .drop-menu {
    @include flexbox(column, center, flex-start);
    color: black;
    height: 0px;
    overflow: hidden;
  }
  .links-drop {
    font-size: clamp(1rem, 3vw, 1.3rem);
    padding: 5px 0px;
  }
  .links-drop:nth-child(1) {
    margin-top: 10px;
  }
}

//QUERYS HEADER PAGINA PRINCIPAL
@media (min-width: 768px) {
  .flotante-logo {
    top: 40px;
    left: 40px;
  }
  .header-principal {
    .flotante-menu {
      top: 40px;
      right: 40px;
    }
  }
  .menu-movil {
    .barra-superior {
      padding: 40px 40px 0px;
    }
    .contenido-nav-movil {
      height: calc(100% - 96px);
    }
  }
}
@media (min-width: 1024px) {
  .menu-movil {
    display: none;
  }
  .flotante-logo {
    top: 60px;
    left: 100px;
    img {
      width: 20px;
      height: 50px;
    }
  }
  .header-principal {
    .flotante-menu {
      display: none;
    }
  }
  .flotante-redes {
    bottom: 80px;
    right: 100px;
    margin-right: 0px;
  }
  .flotante-copy {
    display: block;
  }

  .flotante-menu-desktop {
    position: absolute;
    z-index: 99;
    color: white;
    right: 100px;
    top: 80px;
    display: block;
    .link-nav {
      text-transform: capitalize;
      font-size: 0.9rem;
    }
  }
}
@media (min-width: 1440px) {
  .flotante-logo {
    top: 100px;
    left: 100px;
    img {
      width: 30px;
      height: 60px;
    }
  }
  .flotante-menu-desktop {
    top: 120px;
  }
  .flotante-redes {
    bottom: 120px;
    right: 100px;
    margin-right: 0px;
  }
  .flotante-copy {
    bottom: 100px;
  }
}

//INICIO PAGINAS SECUNDARIAS

//PAGINAS TRABAJOS

.headers-secundarios {
  background: url("../images/pag-sec-audi/audi-header.webp") center / cover;
  width: 100%;
  height: 100vh;
  position: relative;
  .navegacion-paginas-secundarias {
    width: 100%;
    @include flexbox(row, flex-start, space-between);
    padding: 20px 20px 0px;
    position: relative;
    z-index: 2;
  }
  .logo {
    width: 15px;
    height: 40px;
  }
  .menu-movil-pag-sec {
    width: 22px;
    @include flexbox(column, center, center);
  }
  .linea-menu {
    background: white;
    width: 100%;
    height: 2px;
    margin: 3px;
  }
  .contenido-header-secundario {
    width: 100%;
    height: calc(100% - 60px);
    @include flexbox(column, center, center);
    position: relative;
    z-index: 2;
    padding-bottom: 80px;
  }
  .titulo {
    font-size: clamp(2.8rem, 6vw, 4.7rem);
  }
  .año-secundario {
    color: white;
    font-size: 0.8rem;
  }
  .flecha-down-flotante {
    position: relative;
    bottom: 100px;
    margin: 0 auto;
    width: 50px;
    height: 55px;
    display: block;
    z-index: 99;
    @include flexbox(column, center, center);
    font-size: clamp(0.7rem, 1.2vw, 1rem);
    color: white;
    text-transform: capitalize;
    i {
      position: relative;
      animation: bounce3 1s infinite;
    }
  }
}
@keyframes bounce3 {
  0% {
    top: 5px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 5px;
  }
}

//HEADERS PAGINAS TRABAJOS
.header-trabajos {
  .link-nav {
    color: white;
  }
}
.header-alpes {
  background: url("../images/pag-sec-alpes/alpes-header.webp") center / cover;
}
.header-zero {
  background: url("../images/pag-sec-zero/zero-header.webp") center / cover;
}
.header-dubai {
  background: url("../images/pag-sec-dubai/dubai-header.webp") center / cover;
}
.header-japon {
  background: url("../images/pag-sec-japon/japon-header.webp") center / cover;
}
.header-islandia {
  background: url("../images/pag-sec-islandia/islandia-header.webp") center /
    cover;
}
.header-verano {
  background: url("../images/pag-sec-verano/verano-header.webp") center / cover;
}
.headers-secundarios:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.11);
}

//QUERYS HEADERS TRABAJOS
@media (min-width: 768px) {
  .headers-secundarios {
    .navegacion-paginas-secundarias {
      padding: 40px 40px 0px;
    }
    .contenido-header-secundario {
      height: calc(100% - 80px);
    }
  }
}
@media (min-width: 1023px) {
  .headers-secundarios {
    .navegacion-paginas-secundarias {
      padding: 60px 100px 0px;
      height: 130px;
    }
    .menu-movil-pag-sec {
      display: none;
    }
    .menu-desktop-pag-sec {
      display: block;
    }
    .logo {
      width: 20px;
      height: 50px;
    }
    .links-menu-desktop {
      @include flexbox(row, flex-start, space-between);
      width: 280px;
    }
    .link-menu-desktop {
      color: white;
      text-transform: capitalize;
      font-size: 0.9rem;
      position: relative;
    }
    .contenido-header-secundario {
      height: calc(100% - 90px);
    }
  }
}
@media (min-width: 1440px) {
  .headers-secundarios {
    .navegacion-paginas-secundarias {
      padding: 100px 100px 0px;
    }
    .contenido-header-secundario {
      height: calc(100% - 150px);
    }
  }
}

//INICIO CONTENIDO PRINCIPAL PAGINAS TRABAJOS
.contenido-principal {
  background: black;
  .header-contenido-principal {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 50px;
  }
  .titulo-contenido-principal {
    font-size: clamp(1.5rem, 2.1vw, 2rem);
    line-height: 36px;
  }

  .pie-contenido-principal {
    @include flexbox(column, center, center);
    padding: 50px 0px;
  }
  .autor-1 {
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  .autor-2 {
    font-size: 1.5rem;
    border-bottom: 1px solid white;
  }
}

//INICIO SECCION SWIPER PAGINAS TRABAJOS
.swiper-pag-sec {
  background: black;
  width: 100%;
  height: 65vw;
  max-height: 700px;
  overflow: hidden;
  @include flexbox(row, center, center);
  .swiper {
    width: 85%;
    height: 85%;
    overflow: visible;
    max-width: 900px;
    padding-bottom: 50px;
  }
}
.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
//INICIO SECCION MEDIA PAGINAS TRABAJOS
.seccion-media {
  background: black;
}
//QUERYS SECCION MEDIA PAGINAS TRABAJOS
@media (min-width: 1024px) {
  .seccion-media {
    .contenedor-gral {
      @include flexbox(row, flex-start, space-between);
    }
    .textos-comunes {
      max-width: 450px;
    }
  }
}

//INICIO SECCION GRID PAGINAS TRABAJOS
.grid {
  background: black;
  padding: 100px 10px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px;
  .grid-img {
    height: 35vw;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .grid-img:nth-child(3),
  .grid-img:nth-child(6),
  .grid-img:nth-child(7) {
    grid-column: 1 / 3;
  }
}

//QUERYS GRID PAGINAS TRABAJOS
@media (min-width: 500px) {
  .grid {
    padding: 100px 20px 0px;
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .grid-img {
      height: 20vw;
    }
    .grid-img:nth-child(3) {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }
    .grid-img:nth-child(6) {
      grid-column: 3 / 5;
      grid-row: 2 / 3;
    }
  }
}

//INICIO SECCION MEDIA DOS PAGINAS TRABAJOS
.seccion-media-dos {
  background: black;
}

//INICIO SECCION ILUSTRACION PAGINAS TRABAJOS
.ilustracion {
  background: black;
  .img-final {
    height: 55vw;
    max-height: 485px;
  }
}

//INICIO FOOTER PAGINAS TRABAJOS
.footer-secundario {
  background: black;
  width: 100%;
  .contenedor-gral {
    @include flexbox(row, center, center);
  }
  .redes {
    @include flexbox(row, center, center);
    height: 50px;
  }
  .fa {
    @include flexbox(row, center, center);
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    color: white;
    font-size: 0.9rem;
  }
}

//QUERYS FOOTER PAGINAS TRABAJOS
@media (min-width: 1024px) {
  .footer-secundario {
    .contenedor-gral {
      justify-content: space-between;
    }
    .copy {
      @include flexbox(column, flex-start, flex-start);
      height: 20px;
      overflow: hidden;
    }
    .texto-copy {
      font-size: 13px;
      text-transform: capitalize;
      font-weight: bold;
      height: 20px;
      width: 100%;
    }
  }
}

//FLOTANTES
.flotante-up {
  position: fixed;
  width: 30px;
  height: 30px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 50%;
  @include flexbox(row, center, center);
  display: none; //PARA ANIMARLO CON GSAP Y WINDOW.ONSCROLL
  opacity: 0;
  i {
    position: relative;
    font-size: 0.7rem;
    animation: bounce4 0.6s infinite;
  }
}
@keyframes bounce4 {
  0% {
    bottom: 2px;
  }
  50% {
    bottom: -2px;
  }
  100% {
    bottom: 2px;
  }
}

@media (min-width: 1024px) {
  .flotante-up {
    width: 45px;
    height: 45px;
    i {
      font-size: 1rem;
    }
  }
}

//INICIO NOSOTROS

//HEADER NOSOTROS
.header-nosotros {
  width: 100%;
  height: auto;
  position: relative;
  background: white;
  .menu-movil-pag-sec {
    .linea-menu {
      background: black;
    }
  }
  .contenido-header-secundario {
    justify-content: flex-start;
    padding: 80px 20px;
  }
  .titulo {
    color: black;
    font-weight: lighter;
    font-size: clamp(2.8rem, 7vw, 6.5rem);
    font-family: $fuente-light;
  }
  .subtitulo {
    text-transform: capitalize;
    color: black;
    margin-bottom: 50px;
    font-size: clamp(1rem, 1vw, 1.1rem);
  }
  .texto-header {
    color: black;
    font-size: clamp(1.5rem, 2.1vw, 2rem);
    text-align: center;
    line-height: 1.5;
    margin: 0;
    font-family: $fuente-light;
  }
  .link-menu-desktop {
    color: black;
  }
}
.header-nosotros:after {
  display: none;
}
.divisor {
  .contenedor-gral {
    @include flexbox(column, center, center);
  }
  .textos-comunes {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 400px;
    margin-bottom: 0px;
  }
  .subtitulo {
    color: black;
    text-transform: capitalize;
    max-width: 400px;
    margin-bottom: 10px;
  }
}

//QUERYS NOSOTROS
@media (min-width: 1024px) {
  .header-nosotros {
    .contenido-header-secundario {
      padding-top: 140px;
    }
    .subtitulo {
      margin: 20px 0px 140px;
    }
  }
}

//INICIO SECCION SERVICIOS-CLIENTES
.header-servicios-clientes {
  .textos-comunes {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
  }
}
.servicios,
.clientes {
  margin-bottom: 50px;
}
.lista-servicios-clientes {
  list-style: inside;
  .link-servicios-clientes {
    padding: 5px 0px;
    text-transform: capitalize;
  }
}
.habilidades {
  width: 100%;
  .textos-comunes {
    margin-bottom: 5px;
    text-transform: capitalize;
    color: black;
  }
  .textos-comunes:nth-child(1) {
    margin-bottom: 20px;
  }
}
.progreso {
  width: 100%;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  .barra-progreso {
    display: block;
    height: 100%;
    width: 97%;
    background: linear-gradient(
      90deg,
      #ffd33d,
      #ea4aaa 17%,
      #b34bff 34%,
      #01feff 51%,
      #ffd33d 68%,
      #ea4aaa 85%,
      #b34bff
    );
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
  }
  .barra-02 {
    width: 82%;
  }
  .barra-03 {
    width: 57%;
  }
  .barra-04 {
    width: 68%;
  }
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

//QURYS SERVICIOS-CLIENTES
@media (min-width: 768px) {
  .servicios-clientes-habilidades {
    .contenedor-gral {
      @include flexbox(row, flex-start, flex-start);
      flex-wrap: wrap;
    }
    .servicios {
      width: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .servicios-clientes-habilidades {
    .servicios,
    .clientes,
    .habilidades {
      flex: 1;
      margin: 0px;
    }
  }
}

//INICIO SECCION EQUIPO
.equipo {
  background: black;
  .contenedor-equipo {
    max-width: 100%;
  }
  .textos-comunes {
    color: white;
  }
  .subtitulo {
    color: white;
  }
  .cartas-equipo {
    width: 100%;
    height: 155vw;
    @include flexbox(column, center, flex-start);
    max-width: 400px;
    max-height: 680px;
    margin: 0 auto 50px;
    position: relative;
    .img-equipo {
      background: red;
      width: 100%;
      height: 70%;
    }
    .textos-comunes {
      text-transform: capitalize;
      font-size: 0.9rem;
      z-index: 2;
    }
    .titulo-equipo {
      font-size: 1.5rem;
      padding-top: 20px;
      margin: 0px;
    }
    .redes-equipo {
      width: 100%;
      height: 30px;
      @include flexbox(row, center, center);
      z-index: 2;
    }
    i {
      width: 30px;
      height: 100%;
      @include flexbox(row, center, center);
      font-size: 0.8rem;
      color: white;
    }
  }
  .pie-seccion {
    max-width: 750px;
    font-size: clamp(1.5rem, 2.2vw, 2rem);
    font-family: $fuente-light;
  }
  .pie-seccion::first-letter {
    text-transform: uppercase;
  }
  .pie-seccion:nth-child(2) {
    padding-bottom: 50px;
  }
}

//QUERYS EQUIPO
@media (min-width: 768px) {
  .equipo {
    .contenedor-equipo {
      @include flexbox(row, flex-start, space-evenly);
      flex-wrap: wrap;
    }
    .cartas-equipo {
      height: 75vw;
      width: 45%;
      max-height: 800px;
      margin: 0 0 20px;
      max-width: 550px;
    }
  }
}
@media (min-width: 1024px) {
  .equipo {
    .cartas-equipo {
      background: url("../images/pag-sec-nosotros/nosotros-01.webp") center /
        cover;
      justify-content: center;
      margin-bottom: 50px;
      max-height: 650px;
      .img-equipo {
        display: none;
      }
      .texto-cartas {
        width: 100%;
        height: calc(100% - 60px);
        @include flexbox(column, center, center);
      }
      .titulo-equipo {
        padding: 0px;
      }
      .textos-comunes {
        margin: 0px;
      }
      .redes-equipo {
        margin-bottom: 30px;
      }
    }
    .cartas-equipo:nth-child(2) {
      background: url("../images/pag-sec-nosotros/nosotros-02.webp") center /
        cover;
    }
    .cartas-equipo:nth-child(3) {
      background: url("../images/pag-sec-nosotros/nosotros-03.webp") center /
        cover;
    }
    .cartas-equipo:nth-child(4) {
      background: url("../images/pag-sec-nosotros/nosotros-04.webp") center /
        cover;
    }
    .cartas-equipo::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.664);
      z-index: 0;
    }
  }
}
@media (min-width: 1680px) {
  .equipo {
    .cartas-equipo {
      width: 22%;
      height: 30vw;
    }
  }
}

//INICIO SECCION CLIENTES
.grid-clientes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  .cliente {
    border: 1px solid rgb(236, 236, 236);
    width: 100%;
    height: 55vw;
    max-height: 200px;
    img {
      object-fit: contain;
      filter: opacity(0.6);
    }
  }
}

//QUERYS CLIENTES
@media (min-width: 768px) {
  .grid-clientes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid-clientes {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}

//INICIO FOOTER NOSOTROS
.footer-nosotros {
  background: white;
  .texto-copy {
    color: black;
  }
  .fa {
    color: black;
  }
}

//INICIO PAG-SEC CONTACTO
.header-contacto {
  .contenedor-gral {
    padding-bottom: 20px;
  }
  .titulo {
    font-size: clamp(2.3rem, 5.5vw, 6.5rem);
    margin-bottom: 5px;
  }
  .subtitulo {
    text-transform: lowercase;
  }
  .subtitulo::first-letter {
    text-transform: uppercase;
  }
  .texto-header {
    text-align: center;
  }
}

//INICIO CONTENIDO CONTACTO
.carta-contacto {
  width: 100%;
  @include flexbox(column, center, center);
  margin-bottom: 20px;
  padding: 20px 0px;
  i {
    font-size: 2rem;
  }
  .textos-comunes {
    margin: 10px 0px 0px;
    color: black;
    border-bottom: 1px solid black;
  }
  .direccion {
    text-transform: capitalize;
    border: none;
  }
}

//QUERYS CONTENIDO CONTACTO
@media (min-width: 768px) {
  .contenido-contacto {
    .contenedor-gral {
      @include flexbox(row, flex-start, flex-start);
    }
    .carta-contacto {
      flex: 1;
      margin: 0px;
    }
  }
}

//INICIO FORMULARIO CONTACTO
.form-contacto {
  @include flexbox(column, center, center);
  .inputs {
    width: 100%;
    padding: 15px 0px;
    border: none;
    border-bottom: 1px solid rgb(145, 145, 145);
    margin-bottom: 25px;
    resize: none;
    font-family: $fuente-principal;
    outline: none;
  }
  .inputs::placeholder {
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 0.9rem;
  }
}

//QUERYS FORMULARIO
@media (min-width: 768px) {
  .form-contacto {
    @include flexbox(row, center, space-between);
    flex-wrap: wrap;
    .inputs {
      width: 30%;
    }
    .txt-area {
      width: 100%;
    }
    .btn-form {
      margin: 70px auto 0px;
    }
  }
}

//INICIO PAG SEC BLOG
.contenedor-blog {
  padding-top: 0px;
}
.cartas-blog {
  width: 100%;
  padding: 100px 40px;
  background: url("../images/pag-sec-blog/blog-01.webp") center / cover;
  @include flexbox(column, center, center);
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  .titulo {
    font-size: clamp(1.6rem, 3.3vw, 2.6rem);
    margin-bottom: 20px;
    z-index: 1;
    font-family: $fuente-light;
  }
  .datos-carta {
    width: 100%;
    @include flexbox(row, center, center);
    flex-wrap: wrap;
    z-index: 1;
  }
  .dato-carta {
    padding: 5px 10px;
    text-transform: capitalize;
    font-size: clamp(0.9rem, 1vw, 1rem);
    color: rgba(255, 255, 255, 0.904);
  }
}
.cartas-blog:nth-child(2) {
  background: url("../images/pag-sec-blog/blog-02.webp") center / cover;
}
.cartas-blog:nth-child(3) {
  background: url("../images/pag-sec-blog/blog-03.webp") center / cover;
}
.cartas-blog:nth-child(4) {
  background: url("../images/pag-sec-blog/blog-04.webp") center / cover;
}
.cartas-blog:nth-child(5) {
  background: url("../images/pag-sec-blog/blog-05.webp") center / cover;
}
.cartas-blog:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.466);
  z-index: 0;
}
.contenido-secundario-blog {
  .busqueda-blog {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid black;
    margin-bottom: 50px;
    max-width: 350px;
  }
  .busqueda-blog::placeholder {
    color: black;
    text-transform: capitalize;
  }
  .textos-comunes {
    margin-bottom: 10px;
    color: black;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .contenido-aside {
    margin-bottom: 50px;
  }
  .lista-filtro {
    list-style: inside;
  }
  .link-filtro {
    padding: 5px 0px;
    text-transform: capitalize;
    font-size: 0.9rem;
  }
  .galeria {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  img {
    height: 20vw;
    max-height: 150px;
    border: 2px solid white;
  }
}

//QUERYS BLOG
@media (min-width: 768px) {
  .contenido-secundario-blog {
    @include flexbox(row, flex-start, space-between);
    flex-wrap: wrap;
    .busqueda-blog {
      margin-right: 400px;
    }
    .contenedor-aside {
      width: 33%;
    }
  }
}
@media (min-width: 1024px) {
  .cartas-blog {
    padding: 130px 20px;
  }
  .contenedor-blog {
    @include flexbox(row, flex-start, space-between);
    width: 87%;
    max-width: 1300px;
    .contenido-principal-blog {
      width: 65%;
    }
    .contenido-secundario-blog {
      width: 28%;
      flex-direction: column;
      .contenedor-aside {
        width: 100%;
      }
      .busqueda-blog {
        margin-right: 0px;
      }
    }
  }
  .contenido-secundario-blog {
    img {
      height: 5vw;
      max-height: 100px;
    }
  }
}
