@charset "UTF-8";
@font-face {
  font-family: "Cardo";
  src: url("../fonts/Cardo-Bold.ttf");
  font-display: fallback;
}
@font-face {
  font-family: "Cardo-Light";
  src: url("../fonts/Cardo-Regular.ttf");
  font-display: fallback;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  font-family: "Cardo", sans-serif;
  font-weight: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: inherit;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.oculto {
  display: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.textos-comunes {
  line-height: 1.8;
  margin-bottom: 20px;
}

.contenedor-gral {
  padding: 100px 20px 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.texto-1,
.texto-2 {
  transition: all 0.2s ease-in-out;
  color: white;
}

.current {
  width: 100%;
  height: 3px;
  position: absolute;
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
  bottom: -5px;
  left: 0px;
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
}

.menu-desk {
  height: 30px;
  overflow: hidden;
}
.menu-desk .lista-nav {
  width: 280px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-desk .lista-desk {
  height: 30px;
}
.menu-desk .lista-trabajos-nav {
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.menu-desk .lista-trabajos-nav .link-nav {
  width: auto;
  margin: 5px 25px 5px 0px;
  text-transform: capitalize;
  font-size: 0.9rem;
  position: relative;
  text-align: center;
}

.copy:hover .texto-1 {
  margin-top: -20px;
}

.fuerte {
  text-decoration: underline;
  font-style: italic;
}

.btn-form {
  min-height: 50px;
  padding: 10px 40px;
  font-family: "Cardo", sans-serif;
  background: none;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 3px;
  text-transform: capitalize;
  margin-top: 70px;
  font-size: 0.9rem;
  cursor: pointer;
}

.media img {
  filter: brightness(0.8);
}

.header-principal {
  width: 100%;
  height: 100%;
}
.header-principal .flotante-menu {
  position: absolute;
  z-index: 99;
  color: white;
  right: 20px;
  top: 20px;
  width: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-principal .flotante-menu .linea-menu {
  width: 100%;
  height: 2px;
  background: white;
  margin: 3px 0px;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titulo {
  font-size: clamp(2rem, 5vw, 5.1rem);
  text-transform: capitalize;
  position: relative;
}

.titulo-principal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
}

.año {
  font-size: clamp(0.8rem, 2vw, 1rem);
  position: absolute;
  right: -30px;
  top: -10px;
}

.flotante-logo {
  position: absolute;
  z-index: 99;
  color: white;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 15px;
}

.flotante-redes {
  position: relative;
  z-index: 99;
  color: white;
  bottom: 40px;
  height: 20px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flotante-redes .fa {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.flotante-copy {
  width: 150px;
  height: 20px;
  position: absolute;
  bottom: 60px;
  left: 100px;
  z-index: 99;
  overflow: hidden;
}
.flotante-copy .texto-copy {
  font-size: 13px;
  text-transform: capitalize;
  font-weight: bold;
  height: 20px;
  width: 100%;
}

.cover-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 9099;
  background: black;
}

.animacion-uno {
  margin-top: 200px;
  position: relative;
  transition: all 1.5s ease-in-out;
}

.final-uno {
  margin-top: 0px;
}

.animacion-dos {
  transition: all 1.8s ease-in-out;
}

.final-dos {
  height: 0px;
}

.swiper-button-next {
  left: 80% !important;
  top: 60% !important;
}

.swiper-button-prev {
  left: 20% !important;
  top: 60% !important;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@keyframes bounce {
  0% {
    right: 5px;
  }
  50% {
    right: 0px;
  }
  100% {
    right: 5px;
  }
}
@keyframes bounce2 {
  0% {
    left: 5px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 5px;
  }
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.2rem !important;
  color: white !important;
}

.swiper-button-next::after {
  animation: bounce 1s infinite;
  position: absolute;
}

.swiper-button-prev:after {
  animation: bounce2 1s infinite;
  position: absolute;
}

.menu-movil {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999999;
  background: white;
  display: none;
  opacity: 0;
}
.menu-movil .barra-superior {
  width: 100%;
  padding: 20px 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-movil img {
  width: 15px;
  height: 40px;
}
.menu-movil .flotante-menu-movil {
  height: 24px;
  width: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.menu-movil .flotante-menu-movil .linea-menu {
  width: 90%;
  height: 2px;
  background: black;
  margin: 3px 0px;
  position: absolute;
  transform: rotate(45deg);
}
.menu-movil .flotante-menu-movil .linea-menu:nth-child(2) {
  transform: rotate(-45deg);
}
.menu-movil .contenido-nav-movil {
  height: calc(100% - 74px);
}
.menu-movil .lista-nav-movil {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-movil .link-nav {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
}
.menu-movil .link-nav:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.menu-movil .drop-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
  height: 0px;
  overflow: hidden;
}
.menu-movil .links-drop {
  font-size: clamp(1rem, 3vw, 1.3rem);
  padding: 5px 0px;
}
.menu-movil .links-drop:nth-child(1) {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .flotante-logo {
    top: 40px;
    left: 40px;
  }
  .header-principal .flotante-menu {
    top: 40px;
    right: 40px;
  }
  .menu-movil .barra-superior {
    padding: 40px 40px 0px;
  }
  .menu-movil .contenido-nav-movil {
    height: calc(100% - 96px);
  }
}
@media (min-width: 1024px) {
  .menu-movil {
    display: none;
  }
  .flotante-logo {
    top: 60px;
    left: 100px;
  }
  .flotante-logo img {
    width: 20px;
    height: 50px;
  }
  .header-principal .flotante-menu {
    display: none;
  }
  .flotante-redes {
    bottom: 80px;
    right: 100px;
    margin-right: 0px;
  }
  .flotante-copy {
    display: block;
  }
  .flotante-menu-desktop {
    position: absolute;
    z-index: 99;
    color: white;
    right: 100px;
    top: 80px;
    display: block;
  }
  .flotante-menu-desktop .link-nav {
    text-transform: capitalize;
    font-size: 0.9rem;
  }
}
@media (min-width: 1440px) {
  .flotante-logo {
    top: 100px;
    left: 100px;
  }
  .flotante-logo img {
    width: 30px;
    height: 60px;
  }
  .flotante-menu-desktop {
    top: 120px;
  }
  .flotante-redes {
    bottom: 120px;
    right: 100px;
    margin-right: 0px;
  }
  .flotante-copy {
    bottom: 100px;
  }
}
.headers-secundarios {
  background: url("../images/pag-sec-audi/audi-header.webp") center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.headers-secundarios .navegacion-paginas-secundarias {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 20px 0px;
  position: relative;
  z-index: 2;
}
.headers-secundarios .logo {
  width: 15px;
  height: 40px;
}
.headers-secundarios .menu-movil-pag-sec {
  width: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headers-secundarios .linea-menu {
  background: white;
  width: 100%;
  height: 2px;
  margin: 3px;
}
.headers-secundarios .contenido-header-secundario {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding-bottom: 80px;
}
.headers-secundarios .titulo {
  font-size: clamp(2.8rem, 6vw, 4.7rem);
}
.headers-secundarios .año-secundario {
  color: white;
  font-size: 0.8rem;
}
.headers-secundarios .flecha-down-flotante {
  position: relative;
  bottom: 100px;
  margin: 0 auto;
  width: 50px;
  height: 55px;
  display: block;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.7rem, 1.2vw, 1rem);
  color: white;
  text-transform: capitalize;
}
.headers-secundarios .flecha-down-flotante i {
  position: relative;
  animation: bounce3 1s infinite;
}

@keyframes bounce3 {
  0% {
    top: 5px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 5px;
  }
}
.header-trabajos .link-nav {
  color: white;
}

.header-alpes {
  background: url("../images/pag-sec-alpes/alpes-header.webp") center/cover;
}

.header-zero {
  background: url("../images/pag-sec-zero/zero-header.webp") center/cover;
}

.header-dubai {
  background: url("../images/pag-sec-dubai/dubai-header.webp") center/cover;
}

.header-japon {
  background: url("../images/pag-sec-japon/japon-header.webp") center/cover;
}

.header-islandia {
  background: url("../images/pag-sec-islandia/islandia-header.webp") center/cover;
}

.header-verano {
  background: url("../images/pag-sec-verano/verano-header.webp") center/cover;
}

.headers-secundarios:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.11);
}

@media (min-width: 768px) {
  .headers-secundarios .navegacion-paginas-secundarias {
    padding: 40px 40px 0px;
  }
  .headers-secundarios .contenido-header-secundario {
    height: calc(100% - 80px);
  }
}
@media (min-width: 1023px) {
  .headers-secundarios .navegacion-paginas-secundarias {
    padding: 60px 100px 0px;
    height: 130px;
  }
  .headers-secundarios .menu-movil-pag-sec {
    display: none;
  }
  .headers-secundarios .menu-desktop-pag-sec {
    display: block;
  }
  .headers-secundarios .logo {
    width: 20px;
    height: 50px;
  }
  .headers-secundarios .links-menu-desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 280px;
  }
  .headers-secundarios .link-menu-desktop {
    color: white;
    text-transform: capitalize;
    font-size: 0.9rem;
    position: relative;
  }
  .headers-secundarios .contenido-header-secundario {
    height: calc(100% - 90px);
  }
}
@media (min-width: 1440px) {
  .headers-secundarios .navegacion-paginas-secundarias {
    padding: 100px 100px 0px;
  }
  .headers-secundarios .contenido-header-secundario {
    height: calc(100% - 150px);
  }
}
.contenido-principal {
  background: black;
}
.contenido-principal .header-contenido-principal {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 50px;
}
.contenido-principal .titulo-contenido-principal {
  font-size: clamp(1.5rem, 2.1vw, 2rem);
  line-height: 36px;
}
.contenido-principal .pie-contenido-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
.contenido-principal .autor-1 {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.contenido-principal .autor-2 {
  font-size: 1.5rem;
  border-bottom: 1px solid white;
}

.swiper-pag-sec {
  background: black;
  width: 100%;
  height: 65vw;
  max-height: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.swiper-pag-sec .swiper {
  width: 85%;
  height: 85%;
  overflow: visible;
  max-width: 900px;
  padding-bottom: 50px;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.seccion-media {
  background: black;
}

@media (min-width: 1024px) {
  .seccion-media .contenedor-gral {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .seccion-media .textos-comunes {
    max-width: 450px;
  }
}
.grid {
  background: black;
  padding: 100px 10px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px;
}
.grid .grid-img {
  height: 35vw;
}
.grid img {
  width: 100%;
  height: 100%;
}
.grid .grid-img:nth-child(3),
.grid .grid-img:nth-child(6),
.grid .grid-img:nth-child(7) {
  grid-column: 1/3;
}

@media (min-width: 500px) {
  .grid {
    padding: 100px 20px 0px;
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .grid .grid-img {
    height: 20vw;
  }
  .grid .grid-img:nth-child(3) {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .grid .grid-img:nth-child(6) {
    grid-column: 3/5;
    grid-row: 2/3;
  }
}
.seccion-media-dos {
  background: black;
}

.ilustracion {
  background: black;
}
.ilustracion .img-final {
  height: 55vw;
  max-height: 485px;
}

.footer-secundario {
  background: black;
  width: 100%;
}
.footer-secundario .contenedor-gral {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-secundario .redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.footer-secundario .fa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  color: white;
  font-size: 0.9rem;
}

@media (min-width: 1024px) {
  .footer-secundario .contenedor-gral {
    justify-content: space-between;
  }
  .footer-secundario .copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 20px;
    overflow: hidden;
  }
  .footer-secundario .texto-copy {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
    height: 20px;
    width: 100%;
  }
}
.flotante-up {
  position: fixed;
  width: 30px;
  height: 30px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;
}
.flotante-up i {
  position: relative;
  font-size: 0.7rem;
  animation: bounce4 0.6s infinite;
}

@keyframes bounce4 {
  0% {
    bottom: 2px;
  }
  50% {
    bottom: -2px;
  }
  100% {
    bottom: 2px;
  }
}
@media (min-width: 1024px) {
  .flotante-up {
    width: 45px;
    height: 45px;
  }
  .flotante-up i {
    font-size: 1rem;
  }
}
.header-nosotros {
  width: 100%;
  height: auto;
  position: relative;
  background: white;
}
.header-nosotros .menu-movil-pag-sec .linea-menu {
  background: black;
}
.header-nosotros .contenido-header-secundario {
  justify-content: flex-start;
  padding: 80px 20px;
}
.header-nosotros .titulo {
  color: black;
  font-weight: lighter;
  font-size: clamp(2.8rem, 7vw, 6.5rem);
  font-family: "Cardo-Light", sans-serif;
}
.header-nosotros .subtitulo {
  text-transform: capitalize;
  color: black;
  margin-bottom: 50px;
  font-size: clamp(1rem, 1vw, 1.1rem);
}
.header-nosotros .texto-header {
  color: black;
  font-size: clamp(1.5rem, 2.1vw, 2rem);
  text-align: center;
  line-height: 1.5;
  margin: 0;
  font-family: "Cardo-Light", sans-serif;
}
.header-nosotros .link-menu-desktop {
  color: black;
}

.header-nosotros:after {
  display: none;
}

.divisor .contenedor-gral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divisor .textos-comunes {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
  max-width: 400px;
  margin-bottom: 0px;
}
.divisor .subtitulo {
  color: black;
  text-transform: capitalize;
  max-width: 400px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .header-nosotros .contenido-header-secundario {
    padding-top: 140px;
  }
  .header-nosotros .subtitulo {
    margin: 20px 0px 140px;
  }
}
.header-servicios-clientes .textos-comunes {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: black;
  font-weight: bold;
}

.servicios,
.clientes {
  margin-bottom: 50px;
}

.lista-servicios-clientes {
  list-style: inside;
}
.lista-servicios-clientes .link-servicios-clientes {
  padding: 5px 0px;
  text-transform: capitalize;
}

.habilidades {
  width: 100%;
}
.habilidades .textos-comunes {
  margin-bottom: 5px;
  text-transform: capitalize;
  color: black;
}
.habilidades .textos-comunes:nth-child(1) {
  margin-bottom: 20px;
}

.progreso {
  width: 100%;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
}
.progreso .barra-progreso {
  display: block;
  height: 100%;
  width: 97%;
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
}
.progreso .barra-02 {
  width: 82%;
}
.progreso .barra-03 {
  width: 57%;
}
.progreso .barra-04 {
  width: 68%;
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
@media (min-width: 768px) {
  .servicios-clientes-habilidades .contenedor-gral {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .servicios-clientes-habilidades .servicios {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .servicios-clientes-habilidades .servicios,
  .servicios-clientes-habilidades .clientes,
  .servicios-clientes-habilidades .habilidades {
    flex: 1;
    margin: 0px;
  }
}
.equipo {
  background: black;
}
.equipo .contenedor-equipo {
  max-width: 100%;
}
.equipo .textos-comunes {
  color: white;
}
.equipo .subtitulo {
  color: white;
}
.equipo .cartas-equipo {
  width: 100%;
  height: 155vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 400px;
  max-height: 680px;
  margin: 0 auto 50px;
  position: relative;
}
.equipo .cartas-equipo .img-equipo {
  background: red;
  width: 100%;
  height: 70%;
}
.equipo .cartas-equipo .textos-comunes {
  text-transform: capitalize;
  font-size: 0.9rem;
  z-index: 2;
}
.equipo .cartas-equipo .titulo-equipo {
  font-size: 1.5rem;
  padding-top: 20px;
  margin: 0px;
}
.equipo .cartas-equipo .redes-equipo {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.equipo .cartas-equipo i {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
}
.equipo .pie-seccion {
  max-width: 750px;
  font-size: clamp(1.5rem, 2.2vw, 2rem);
  font-family: "Cardo-Light", sans-serif;
}
.equipo .pie-seccion::first-letter {
  text-transform: uppercase;
}
.equipo .pie-seccion:nth-child(2) {
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .equipo .contenedor-equipo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .equipo .cartas-equipo {
    height: 75vw;
    width: 45%;
    max-height: 800px;
    margin: 0 0 20px;
    max-width: 550px;
  }
}
@media (min-width: 1024px) {
  .equipo .cartas-equipo {
    background: url("../images/pag-sec-nosotros/nosotros-01.webp") center/cover;
    justify-content: center;
    margin-bottom: 50px;
    max-height: 650px;
  }
  .equipo .cartas-equipo .img-equipo {
    display: none;
  }
  .equipo .cartas-equipo .texto-cartas {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .equipo .cartas-equipo .titulo-equipo {
    padding: 0px;
  }
  .equipo .cartas-equipo .textos-comunes {
    margin: 0px;
  }
  .equipo .cartas-equipo .redes-equipo {
    margin-bottom: 30px;
  }
  .equipo .cartas-equipo:nth-child(2) {
    background: url("../images/pag-sec-nosotros/nosotros-02.webp") center/cover;
  }
  .equipo .cartas-equipo:nth-child(3) {
    background: url("../images/pag-sec-nosotros/nosotros-03.webp") center/cover;
  }
  .equipo .cartas-equipo:nth-child(4) {
    background: url("../images/pag-sec-nosotros/nosotros-04.webp") center/cover;
  }
  .equipo .cartas-equipo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.664);
    z-index: 0;
  }
}
@media (min-width: 1680px) {
  .equipo .cartas-equipo {
    width: 22%;
    height: 30vw;
  }
}
.grid-clientes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}
.grid-clientes .cliente {
  border: 1px solid rgb(236, 236, 236);
  width: 100%;
  height: 55vw;
  max-height: 200px;
}
.grid-clientes .cliente img {
  -o-object-fit: contain;
     object-fit: contain;
  filter: opacity(0.6);
}

@media (min-width: 768px) {
  .grid-clientes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid-clientes {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}
.footer-nosotros {
  background: white;
}
.footer-nosotros .texto-copy {
  color: black;
}
.footer-nosotros .fa {
  color: black;
}

.header-contacto .contenedor-gral {
  padding-bottom: 20px;
}
.header-contacto .titulo {
  font-size: clamp(2.3rem, 5.5vw, 6.5rem);
  margin-bottom: 5px;
}
.header-contacto .subtitulo {
  text-transform: lowercase;
}
.header-contacto .subtitulo::first-letter {
  text-transform: uppercase;
}
.header-contacto .texto-header {
  text-align: center;
}

.carta-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px 0px;
}
.carta-contacto i {
  font-size: 2rem;
}
.carta-contacto .textos-comunes {
  margin: 10px 0px 0px;
  color: black;
  border-bottom: 1px solid black;
}
.carta-contacto .direccion {
  text-transform: capitalize;
  border: none;
}

@media (min-width: 768px) {
  .contenido-contacto .contenedor-gral {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contenido-contacto .carta-contacto {
    flex: 1;
    margin: 0px;
  }
}
.form-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-contacto .inputs {
  width: 100%;
  padding: 15px 0px;
  border: none;
  border-bottom: 1px solid rgb(145, 145, 145);
  margin-bottom: 25px;
  resize: none;
  font-family: "Cardo", sans-serif;
  outline: none;
}
.form-contacto .inputs::-moz-placeholder {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.form-contacto .inputs::placeholder {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .form-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-contacto .inputs {
    width: 30%;
  }
  .form-contacto .txt-area {
    width: 100%;
  }
  .form-contacto .btn-form {
    margin: 70px auto 0px;
  }
}
.contenedor-blog {
  padding-top: 0px;
}

.cartas-blog {
  width: 100%;
  padding: 100px 40px;
  background: url("../images/pag-sec-blog/blog-01.webp") center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}
.cartas-blog .titulo {
  font-size: clamp(1.6rem, 3.3vw, 2.6rem);
  margin-bottom: 20px;
  z-index: 1;
  font-family: "Cardo-Light", sans-serif;
}
.cartas-blog .datos-carta {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}
.cartas-blog .dato-carta {
  padding: 5px 10px;
  text-transform: capitalize;
  font-size: clamp(0.9rem, 1vw, 1rem);
  color: rgba(255, 255, 255, 0.904);
}

.cartas-blog:nth-child(2) {
  background: url("../images/pag-sec-blog/blog-02.webp") center/cover;
}

.cartas-blog:nth-child(3) {
  background: url("../images/pag-sec-blog/blog-03.webp") center/cover;
}

.cartas-blog:nth-child(4) {
  background: url("../images/pag-sec-blog/blog-04.webp") center/cover;
}

.cartas-blog:nth-child(5) {
  background: url("../images/pag-sec-blog/blog-05.webp") center/cover;
}

.cartas-blog:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.466);
  z-index: 0;
}

.contenido-secundario-blog .busqueda-blog {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid black;
  margin-bottom: 50px;
  max-width: 350px;
}
.contenido-secundario-blog .busqueda-blog::-moz-placeholder {
  color: black;
  text-transform: capitalize;
}
.contenido-secundario-blog .busqueda-blog::placeholder {
  color: black;
  text-transform: capitalize;
}
.contenido-secundario-blog .textos-comunes {
  margin-bottom: 10px;
  color: black;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.contenido-secundario-blog .contenido-aside {
  margin-bottom: 50px;
}
.contenido-secundario-blog .lista-filtro {
  list-style: inside;
}
.contenido-secundario-blog .link-filtro {
  padding: 5px 0px;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.contenido-secundario-blog .galeria {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.contenido-secundario-blog img {
  height: 20vw;
  max-height: 150px;
  border: 2px solid white;
}

@media (min-width: 768px) {
  .contenido-secundario-blog {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contenido-secundario-blog .busqueda-blog {
    margin-right: 400px;
  }
  .contenido-secundario-blog .contenedor-aside {
    width: 33%;
  }
}
@media (min-width: 1024px) {
  .cartas-blog {
    padding: 130px 20px;
  }
  .contenedor-blog {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 87%;
    max-width: 1300px;
  }
  .contenedor-blog .contenido-principal-blog {
    width: 65%;
  }
  .contenedor-blog .contenido-secundario-blog {
    width: 28%;
    flex-direction: column;
  }
  .contenedor-blog .contenido-secundario-blog .contenedor-aside {
    width: 100%;
  }
  .contenedor-blog .contenido-secundario-blog .busqueda-blog {
    margin-right: 0px;
  }
  .contenido-secundario-blog img {
    height: 5vw;
    max-height: 100px;
  }
}/*# sourceMappingURL=styles.css.map */