//TIPOGRAFIAS
@font-face {
  font-family: Cardo;
  src: url("../fonts/Cardo-Regular.ttf");
  src: url("../fonts/Cardo-Bold.ttf");
  font-display: fallback;
  font-weight: 400;
}
$fuente-principal: "Cardo";

//COLORES
$color-blanco: #fff;
$color-negro: #000;

//MIXINS
@mixin flexbox($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

//GENERALES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  font-family: $fuente-principal;
  background: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-blanco;
  font-weight: inherit;
}
a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.oculto {
  display: none;
}
img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.textos-comunes {
  line-height: 1.8;
  margin-bottom: 20px;
}
.contenedor-gral {
  padding: 100px 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

//INICIO CONTENIDO PRINCIPAL

//HEADER PAGINA PRINCIPAL
.media {
  img {
    filter: brightness(0.8);
  }
}
.header-principal {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.swiper-slide {
  @include flexbox(row, center, center);
  overflow: hidden;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titulo {
  font-size: clamp(2rem, 5vw, 5.1rem);
  text-transform: capitalize;
  position: relative;
}
.año {
  font-size: clamp(0.8rem, 2vw, 1rem);
  position: absolute;
  right: -30px;
  top: -10px;
}
.flotante-logo {
  position: absolute;
  z-index: 99;
  color: white;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 15px;
}
.flotante-menu {
  position: absolute;
  z-index: 99;
  color: white;
  right: 20px;
  top: 20px;
  width: 22px;
  @include flexbox(column, center, center);
  .linea-menu {
    width: 100%;
    height: 2px;
    background: white;
    margin: 3px 0px;
  }
}
.flotante-redes {
  position: relative;
  z-index: 99;
  color: white;
  bottom: 40px;
  height: 20px;
  width: 100px;
  margin: 0 auto;
  @include flexbox(row, center, space-between);
  .fa {
    width: 20px;
    height: 20px;
    @include flexbox(row, center, center);
    font-size: 0.9rem;
  }
}
.flotante-copy {
  width: 150px;
  height: 20px;
  position: absolute;
  bottom: 60px;
  left: 100px;
  z-index: 99;
  overflow: hidden;
  .texto-copy {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
    height: 20px;
    width: 100%;
  }
}

.animacion-uno {
  margin-top: 200px;
  position: relative;
  transition: all 1s 0.5s ease-in-out;
}
.final-uno {
  margin-top: 0px;
}

.cover-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 9099;
}
.animacion-dos {
  transition: all 1.8s ease-in-out;
}
.final-dos {
  height: 0px;
}

.swiper-button-next {
  left: 80% !important;
  top: 60% !important;
}
.swiper-button-prev {
  left: 20% !important;
  top: 60% !important;
}

//ANIMATION FLECHAS HEADER PRINCIPAL
@keyframes bounce {
  0% {
    left: 5px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 5px;
  }
}
@keyframes bounce2 {
  0% {
    right: 5px;
  }
  50% {
    right: 0px;
  }
  100% {
    right: 5px;
  }
}
//LA UNICA MANERA DE REEMPLAZAR LOS ESTILOS DE LOS BOTONES ES CON !IMPORTANT
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.2rem !important;
  color: white !important;
}

.swiper-button-next::after {
  animation: bounce 1s infinite;
  position: absolute;
}
.swiper-button-prev:after {
  animation: bounce2 1s infinite;
  position: absolute;
}

.menu-movil {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999999;
  background: white;
  display: none;
  .barra-superior {
    width: 100%;
    padding: 20px 20px 0px;
    @include flexbox(row, center, space-between);
  }
  img {
    width: 15px;
    height: 40px;
  }
  .flotante-menu-movil {
    height: 24px;
    width: 22px;
    @include flexbox(column, flex-start, flex-start);
    position: relative;
    .linea-menu {
      width: 90%;
      height: 2px;

      margin: 3px 0px;
      position: absolute;
      transform: rotate(45deg);
    }
    .linea-menu:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
  .contenido-nav-movil {
    height: calc(100% - 74px);
  }
  .lista-nav-movil {
    width: 100%;
    height: 100%;
    @include flexbox(column, center, center);
  }
  .link-nav {
    width: 100%;
    padding: 15px;
    @include flexbox(row, center, center);
    text-transform: capitalize;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 800;
  }
}

//QUERYS HEADER PAGINA PRINCIPAL
@media (min-width: 768px) {
  .flotante-logo {
    top: 40px;
    left: 40px;
  }
  .flotante-menu {
    top: 40px;
    right: 40px;
  }
  .menu-movil {
    .barra-superior {
      padding: 40px 40px 0px;
    }
    .contenido-nav-movil {
      height: calc(100% - 96px);
    }
  }
}
@media (min-width: 1024px) {
  .menu-movil {
    display: none;
  }
  .flotante-logo {
    top: 60px;
    left: 100px;
    img {
      width: 20px;
      height: 50px;
    }
  }
  .flotante-menu {
    right: 100px;
    top: 60px;
  }
  .flotante-redes {
    bottom: 80px;
    right: 100px;
    margin-right: 0px;
  }
  .flotante-copy {
    display: block;
  }
  .flotante-menu {
    display: none;
  }
  .flotante-menu-desktop {
    position: absolute;
    z-index: 99;
    color: white;
    right: 100px;
    top: 80px;
    display: block;
  }
  .lista-nav {
    width: 280px;
    height: 20px;
    @include flexbox(row, center, space-between);
  }
  .link-nav {
    text-transform: capitalize;
    font-size: 0.9rem;
  }
}
@media (min-width: 1440px) {
  .flotante-logo {
    top: 100px;
    left: 100px;
    img {
      width: 30px;
      height: 60px;
    }
  }
  .flotante-menu-desktop {
    top: 120px;
  }
  .flotante-redes {
    bottom: 120px;
    right: 100px;
    margin-right: 0px;
  }
  .flotante-copy {
    bottom: 100px;
  }
}

//INICIO PAGINAS SECUNDARIAS

//PAGINA AUDI

.headers-secundarios {
  background: url("../images/full-1.jpg") center / cover;
  width: 100%;
  height: 100vh;
  position: relative;
  .navegacion-paginas-secundarias {
    width: 100%;
    @include flexbox(row, flex-start, space-between);
    padding: 20px 20px 0px;
    position: relative;
    z-index: 2;
  }
  .logo {
    width: 15px;
    height: 40px;
  }
  .menu-movil-pag-sec {
    width: 22px;
    @include flexbox(column, center, center);
  }
  .linea-menu {
    background: white;
    width: 100%;
    height: 2px;
    margin: 3px;
  }
  .contenido-header-secundario {
    width: 100%;
    height: calc(100% - 60px);
    @include flexbox(column, center, center);
    position: relative;
    z-index: 2;
    padding-bottom: 80px;
  }
  .titulo {
    font-size: clamp(2.8rem, 6vw, 4.7rem);
  }
  .año-secundario {
    color: white;
    font-size: 0.8rem;
  }
}
.headers-secundarios:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.11);
}

//QUERYS HEADERS SECUNDARIOS
@media (min-width: 768px) {
  .headers-secundarios {
    .navegacion-paginas-secundarias {
      padding: 40px 40px 0px;
    }
    .contenido-header-secundario {
      height: calc(100% - 80px);
    }
  }
}
@media (min-width: 1024px) {
  .headers-secundarios {
    .navegacion-paginas-secundarias {
      padding: 40px 100px 0px;
    }
    .menu-movil-pag-sec {
      display: none;
    }
    .menu-desktop-pag-sec {
      display: block;
    }
    .logo {
      width: 20px;
      height: 50px;
    }
    .links-menu-desktop {
      @include flexbox(row, flex-start, space-between);
      width: 280px;
      padding-top: 20px;
    }
    .link-menu-desktop {
      color: white;
      text-transform: capitalize;
      font-size: 0.9rem;
    }
    .contenido-header-secundario {
      height: calc(100% - 90px);
    }
  }
}
@media (min-width: 1440px) {
  .headers-secundarios {
    .navegacion-paginas-secundarias {
      padding: 100px 100px 0px;
    }
    .contenido-header-secundario {
      height: calc(100% - 150px);
    }
  }
}
//INICIO CONTENIDO PRINCIPAL PAG-SEC
.contenido-principal {
  .header-contenido-principal {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 550px;
    margin-bottom: 50px;
  }
  .titulo-contenido-principal {
    font-size: clamp(1.5rem, 2.1vw, 2rem);
    line-height: 36px;
  }

  .pie-contenido-principal {
    @include flexbox(column, center, center);
    padding: 50px 0px;
  }
  .autor-1 {
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  .autor-2 {
    font-size: 1.5rem;
    border-bottom: 1px solid white;
  }
}
